.c1{
    position: absolute;
width: 138px;
height: 82px;
left: 115px;
top: 40%;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 82px;

text-align: left;

color: #301a1a;
}

.ct1{
    position: absolute;
width: 183px;
height: 98px;
left: 80px;
top: 55%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #FFFFFF;
}




.c2{
    position: absolute;
width: 138px;
height: 82px;
left: 440px;
top: 40%;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 82px;

text-align: left;

color: #301a1a;
}
.ct2{
    position: absolute;
width: 183px;
height: 98px;
left: 410px;
top: 55%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #FFFFFF;
}

.c3{
    position: absolute;
width: 138px;
height: 82px;
left: 770px;
top: 40%;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 82px;

text-align: left;

color: #301a1a;
}
.ct3{
    position: absolute;
width: 183px;
height: 98px;
left: 740px;
top: 55%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #FFFFFF;
}

.c4{
    position: absolute;
width: 138px;
height: 82px;
left: 1095px;
top: 40%;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 82px;

text-align: left;

color: #301a1a;
}
.ct4{
    position: absolute;
width: 183px;
height: 98px;
left: 1064px;
top: 55%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #FFFFFF;
}